body {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #ECE5C7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #116A7B;
    color: #fff;
    text-align: center;
    padding: 12px;
    font-size: 24px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #CDC2AE;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Estilos para o formulário */
#meuFormulario {
    display: grid;
    gap: 20px;
}

label {
    font-weight: bold;
    color: #116A7B;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 14px;
    border: 2px solid #116A7B;
    border-radius: 8px;
    transition: border-color 0.3s;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #ECE5C7;
    outline: none;
}

button {
    padding: 14px 28px;
    background-color: #116A7B;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}

button:hover {
    background-color: #CDC2AE;
}

/* Estilos para a lista de dados */
#dadosArmazenados {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

#dadosArmazenados li {
    margin-bottom: 15px;
    color: #555;
    padding: 10px;
    border-radius: 8px;
    background-color: #ECE5C7;
    font-size: 16px;
}

/* Estilos para o gráfico */
#graficoProfissoes {
    max-width: 100%;
    margin-top: 30px;
    background-color: #ECE5C7;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Estilos para a barra do gráfico */
#graficoProfissoes .bar {
    fill: #116A7B;
    transition: fill 0.3s;
}

#graficoProfissoes .bar:hover {
    fill: #CDC2AE;
}